# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 0
AccessModifierOffset: -1

IndentCaseBlocks: false
IndentPPDirectives: BeforeHash
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SpacesBeforeTrailingComments: 2
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: None
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 1
Cpp11BracedListStyle: false

AlignConsecutiveAssignments: None
ConstructorInitializerAllOnOneLineOrOnePerLine: true
SpaceAroundPointerQualifiers: Default
PointerAlignment: Left
AllowShortEnumsOnASingleLine: false
#SeparateDefinitionBlocks: Leave
NamespaceIndentation: All
BreakBeforeBraces: Custom

BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  AfterClass: false
  AfterCaseLabel: false
  SplitEmptyFunction: false
  AfterControlStatement: false
  AfterNamespace: false
  AfterFunction: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: true
  SplitEmptyRecord: false
  SplitEmptyNamespace: false



